#add-user-card {
    width: 100%;
    max-width: 500px; /* Set a max width for better responsiveness */
    border-radius: 10px; /* Round the corners */
  }
  
 
  .scrollable-form {
    max-height: 500px;  /* Set a maximum height for the form container */
    overflow-y: auto;   /* Enable vertical scrolling */
    padding-right: 15px; /* To avoid content hiding behind scrollbar */
  }
  