<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a class="navbar-brand logo" href="#">Canvas of Thoughts</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto align-items-center">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['']">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="postsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Posts
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="postsDropdown">
              <li><a class="dropdown-item" [routerLink]="['/posts']">Posts List</a></li>
              <li><a class="dropdown-item" [routerLink]="['/admin/blogposts/add']">Add Post</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown" *ngIf="isAdmin() && isLoggedIn()">
            <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Admin Panel
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="adminDropdown">
              <li><a class="dropdown-item" [routerLink]="['/user-list']">User List</a></li>
              <li><a class="dropdown-item" [routerLink]="['/user-roles']">User Roles</a></li>
              <li><a class="dropdown-item" [routerLink]="['/admin/categories']">Category List</a></li>
              <li><a class="dropdown-item" [routerLink]="['/posts-table']">Manage Posts</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-user-circle"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="userDropdown">
              <li *ngIf="isLoggedIn()"><a class="dropdown-item" [routerLink]="['/my-profile']">My Profile</a></li>
              <li *ngIf="isLoggedIn()"><a class="dropdown-item" [routerLink]="['user-posts/:id']">My Posts</a></li>
              <li *ngIf="!isLoggedIn()"><a class="dropdown-item" [routerLink]="['/login']">Login</a></li>
              <li *ngIf="!isLoggedIn()"><a class="dropdown-item" [routerLink]="['/signup']">Signup</a></li>
              <li *ngIf="isLoggedIn()"><a class="dropdown-item" (click)="logout()">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
