<div class="container">
  <h1 class="mt-3 d-flex justify-content-between title">
    Edit Category
    <button type="button" class="btn-close small-close-btn" aria-label="Close" (click)="closeDialog()"></button>
  </h1>

  <ng-container *ngIf="category; else notFound">
    <form #form="ngForm" (ngSubmit)="onFormSubmit()">
      <div class="mt-2">
        <div>
          <label class="form-label" for="categoryName">Category Name</label>
          <input type="text" id="categoryName" class="form-control" name="categoryName" [(ngModel)]="category.Name" required>

          <label class="form-label mt-3" for="categoryUrl">Description</label>
          <input type="text" id="categoryUrl" class="form-control" name="categoryUrl" [(ngModel)]="category.Url" required>
        </div>

        <div class="mt-4 d-flex justify-content-center">
          <button type="submit" class="btn btn-primary btn-save">
            <i class="bi bi-save"></i> <!-- Save Icon -->
          </button>
          <button type="button" class="btn btn-danger ms-3 btn-cancel" (click)="closeDialog()">
            <i class="bi bi-x-circle"></i> <!-- Cancel Icon -->
          </button>
        </div>
      </div>
    </form>
  </ng-container>

  <ng-template #notFound>
    <div class="alert alert-warning" role="alert">
      Category not found!
    </div>
  </ng-template>
</div>
