.dialog-title {
  font-weight: bold;
}

.dialog-actions {
  margin-top: 20px; /* Adjust the value as needed for desired spacing */
}


.dialog-actions .btn {
  width: 100px; /* Optional: Set a fixed width for buttons */
}
