<div class="container mt-5 form-container">
  <div class="back-button">
    <button class="btn btn-secondary" (click)="goBack()">
      <i class="fas fa-arrow-left"></i>
    </button>
  </div>

  <h1 class="form-title text-center">Add New Post <span class="text-danger">*</span></h1>

  <form #postForm="ngForm" class="form-content">
    <div class="form-group">
      <label for="title" class="form-label">Title <span class="text-danger">*</span></label>
      <input type="text" id="title" name="title" [(ngModel)]="post.Title" required class="form-control" maxlength="100">
      <div *ngIf="postForm.controls['title']?.invalid && (postForm.controls['title']?.touched || submitted)" class="text-danger">
        <div *ngIf="postForm.controls['title']?.errors?.['required']">Ju lutem plotësoni fushën!</div>
        <div *ngIf="postForm.controls['title']?.errors?.['maxlength']">Title cannot be more than 100 characters.</div>
      </div>
    </div>

    <div class="form-group">
      <label for="content" class="form-label">Content <span class="text-danger">*</span></label>
      <div #editor class="form-control quill-editor"></div>
      <div *ngIf="post.Content.trim().length === 0 && (submitted || postForm.controls['content']?.touched)" class="text-danger">
        Ju lutem plotësoni fushën!
      </div>
    </div>

    <div class="form-group custom-dropdown">
      <label for="category" class="form-label">Category <span class="text-danger">*</span></label>
      <div (click)="toggleDropdown()" class="dropdown-selected">
        {{ selectedCategory || 'Select a Category' }} <span class="arrow">{{ isDropdownOpen ? '▲' : '▼' }}</span>
      </div>
      <div *ngIf="isDropdownOpen" class="dropdown-list">
        <div *ngFor="let category of categories" (click)="selectCategory(category)" class="dropdown-item">
          {{ category.Name }}
        </div>
      </div>
      <input type="hidden" name="category" [(ngModel)]="post.CategoryId" />
      <div *ngIf="!post.CategoryId && (submitted || postForm.controls['category']?.touched)" class="text-danger">
        Ju lutem zgjidhni një kategori!
      </div>
    </div>

    <div class="form-group mt-3">
      <label for="file" class="form-label">Upload Files</label>
      <input 
        type="file" 
        id="file" 
        (change)="onFileChange($event)" 
        class="form-control file-input" 
        multiple 
      />
      <div *ngIf="fileWarning" class="alert alert-danger mt-2">
        {{ fileWarning }}
      </div>
      <div *ngIf="selectedFiles.length > 0" class="mt-2">
        <h6>Selected Files:</h6>
        <ul class="list-group">
          <li *ngFor="let file of selectedFiles" class="list-group-item">{{ file.name }}</li>
        </ul>
      </div>
    </div>

    <button type="button" class="btn btn-primary mt-4" (click)="onSubmit()" [disabled]="!postForm.valid || !validFiles">Add Post</button>
  </form>
</div>
