<div class="container mt-3">
    <h1>User Roles</h1>
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
    <table class="table table-striped" *ngIf="userRoles.length > 0">
      <thead>
        <tr>
          
          <th>Name</th>
          <th>Roles</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let userRole of userRoles">
         
          <td>{{ userRole.Name }}</td>
          <td>{{ userRole.Roles }}</td>
          <td>
          <button (click)="toggleRoleDropdown(userRole.UserId)" class="btn btn-primary">Edit Role</button>
          <div *ngIf="isDropdownVisible(userRole.UserId)">
            <select [(ngModel)]="userRole.selectedRole" class="form-control">
                
              <option value="admin">Admin</option>
              <option value="user">User</option>
            </select>
            <button (click)="updateRole(userRole)" class="btn btn-success mt-2">Save</button>
          </div>
        </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="userRoles.length === 0 && !errorMessage" class="alert alert-info">
      No user roles found.
    </div>
  </div>
  