<div class="container mt-3">
  <h1 class="text-center title mb-4">Category List</h1>

  <div class="d-flex justify-content-end mb-3">
    <button class="btn btn-primary" (click)="openAddDialog()">Add Category</button>
  </div>

  <table class="table table-striped table-bordered mt-3" *ngIf="pagedCategories.length > 0">
    <thead class="thead-light">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th class="text-center">Modify</th> <!-- Added a column for actions -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of pagedCategories">
        <td>{{ category.Name }}</td>
        <td>{{ category.Url }}</td>
        <td class="text-center">
          <div class="d-flex justify-content-center align-items-center">
            <button class="btn btn-success btn-sm me-1" (click)="openEditDialog(category)">Edit</button>
            <button class="btn btn-danger btn-sm" (click)="deleteCategory(category.CategoryId)">Delete</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div *ngIf="pagedCategories.length === 0" class="alert alert-info text-center">
    No categories available.
  </div>

  <app-pagination
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    (pageChange)="onPageChange($event)">
  </app-pagination>
</div>
